<div class="table-filter_filter-row">
  <div class="table-filter_filter-row--left">
    {{fa-icon "trash" click=@deleteFilter}} {{@filterTemplate.title}}:
  </div>
  <div class="table-filter_filter-row--right">
    {{component
      @filterTemplate.component
      isEditing=true
      filterUpdated=@filterUpdated
      filter=@filter
      value=@filter.value
    }}
  </div>
</div>
