{{#each filters as |filter|}}
  {{x-tab
    text=filter.name
    isActive=filter.isActive
    selectFilter=(action 'selectFilter' filter)}}
{{/each}}
{{#if showNewFilter}}
  {{x-tab
    text="New Filter"
    isActive=filter.isActive
    selectFilter=(action 'createFilter')}}
{{/if}}
{{#if selectedFilter}}
  <div class="filter-builder">
    {{filters-filter-builder
      isEditing=isEditing
      selectedFilter=selectedFilter filterHash=selectedFilter.filters
      filterTypes=filterTypes
      save=(action 'saveFilter')
      cancel=(action 'cancelEditingFilter')
      edit=(action 'editFilter' selectedFilter)}}
  </div>
{{/if}}
