{{#each filtersTypes as |filterType|}}
  <div class="col-md-2">
    {{filterType.title}}
  </div>
  <div class="col-md-10">
    {{component filterType.component model=filterType.model action=action filter=filter}}
  </div>
{{/each}}
