{{#each filters as |filter|}}
  {{filters-filter-tab filter=filter isEditing=isEditing selectFilter=(action 'selectFilter')
  cancelEditingFilter=(action 'cancelEditingFilter') editFilter=(action 'editFilter')}}
{{/each}}
{{#if showNewFilter}}
  <span class="filter-tab" {{action 'createFilter'}}>New Filter</span>
{{/if}}
{{#if isEditing}}
  <div class="filter-builder container">
    {{filters-filter-builder selectedFilter=selectedFilter filterHash=selectedFilter.filters
      filterTypes=filterTypes save=(action 'saveFilter') cancel=(action 'cancelEditingFilter')}}
  </div>
{{/if}}
