<div class="row">
  <div class="col-2">
    {{fa-icon "trash-o" click=(action "deleteRule")}}
    <span> When : </span>
  </div>
  <div class="col-3">
  {{#power-select options=events renderInPlace=true selected=rule.event onchange=(action "changeEvent") as |event|}}
    {{event}}
  {{/power-select}}
  </div>
  <div class="col-7">
    {{#if rule.event}}
      {{component editor rule=rule labels=labels states=repo.states}}
    {{/if}}
  </div>
</div>
