<div class="row">
  <div class="col-2">
    {{fa-icon "trash-o" click=(action "deleteRule")}}
    <span> When : </span>
  </div>
  <div class="col-4">
  {{#power-select options=events renderInPlace=true selected=selectedEvent onchange=(action "changeEvent") as |event|}}
    {{event.displayName}}
  {{/power-select}}
  </div>
  <div class="col-6">
    {{#if rule.event}}
      {{component editor rule=rule labels=labels states=repo.states}}
    {{/if}}
  </div>
</div>
