{{#unless model.slackOrganization}}
  <p> You have not linked any slack organisations </p>
  <RowForm>
    <RowField @label=" Slack Org">
      {{#power-select options=slackOrgs renderInPlace=true selected=slackSetting.slackOrganization onchange=(action "setSlackOrg") as |label|}}
        {{label.name}}
      {{/power-select}}
    </RowField>
    <RowField>
      {{power-button text="can't find organisation?" action=(action "redirectSlackAuth")}}
    </RowField>
    <RowField @label="Channel">
      {{input value=slackSetting.slackChannel classNames="form-control"}}
    </RowField>
  </RowForm>
  {{power-button text="link slack organisation" task=saveSlack}}
{{/unless}}
