<h4> State Labels </h4>
{{#power-select-multiple
  options=labels
  selected=stateLabels
  placeholder="Select some names..."
  onchange=(action 'stateLabelsChanged') as |label|}}
  {{label.name}}
{{/power-select-multiple}}

{{power-button action=(action "saveStateLabels") text="save"}}
