<span style="display:none">{{sortedPullRequests.length}}</span>
{{#filters-filter-header
  selectedFilter=activeFilter
  filters=filters
  filterSelected=(action 'selectedFilter')
  createFilter=(action 'createFilter')
  filterUpdated=(action 'filterUpdated' activeFilter)
  save=(action 'saveFilter' this.activeFilter)
as |c|}}
  {{#if this.activeFilter}}
    {{this.selectedFilterRaw.lastObject.value}}
    {{component c.builder
      filterTypes=(hash
        age=(hash
          id="age"
          title="Last Modified"
          component=(component "filters-editors-age-filter")
        )
        labels=(hash
          id="labels"
          title="Active Labels"
          component=(component "filters-editors-label-picker" labels=labels)
        )
      )
      selectedFilter=this.activeFilter
      filterAdded=(action 'filterAdded' this.activeFilter)
      deleteFilter=(action 'deleteFilter' this.activeFilter)
      filterUpdated=(action 'filterUpdated' this.activeFilter)
    }}
  {{/if}}
{{/filters-filter-header}}
{{#light-table table as |t|}}
  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'}}
  {{#t.body as |body|}}

    {{#if isLoading}}
      {{#body.loader}}
        Loading...
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
        No pull requests found.
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
