<span class="filter-tab">Review</span>
{{#if newFilter}}
  <span class="filter-tab">{{input value=newFilter.name}}</span>
{{else}}
  <span class="filter-tab" {{action 'createFilter'}}>New Filter</span>
{{/if}}
{{#if newFilter}}
  <div style="background:white">
    {{filter-builder labels=labels cancelFilter=(action 'cancelFilter') action=(action 'filterModified')}}
  </div>
{{/if}}
