<table style="width:100%">
  <tbody>
      {{yield (hash first= (component 'workflow-builder-layout-row' tagName='tr')
                    second=(component 'workflow-builder-layout-row' tagName='tr')
                    third= (component 'workflow-builder-layout-row' tagName='tr')
                    fourth= (component 'workflow-builder-layout-row' tagName='tr')
      )}}
</tbody>
</table>
