@import 'reset';
@import 'variables';
@import 'fullbleed';
@import 'ember-power-select';
@import 'table';
@import 'navigation';
@import 'buttons';


.body {
  position:absolute;
  left: 180px;
  top: 0;
  padding-top : 20px;
  padding-right: 100px;
  padding-left: 100px;
}

h1 {
  font-size: 20px;
}
