.sidebar {
  background-color: $navbar-background;
  border-right: 1px $navbar-border-background solid;
  height: 100%;
}

  .sidebar a.nav-link {
    color: $navbar-font-color;
    background-color: $navbar-background;
    border-radius: 0;
    font-size: 14px;
    border-bottom: 1px #ddd solid;
    padding: 1em;
  }

  .sidebar a.nav-link:hover, .sidebar a.nav-link.active {
    background-color: #e2e4e6;
  }

  .logo-container {
    padding: 1em;
    background-color: #223140;

    img {
      width:134px;
    }
  }

  .sidebar i {
    margin-right: 8px;
  }
