.sidebar {
  background-color: #fff;
  border-right: 1px #273d66 solid;
  height: 100%;
}

  .sidebar a.nav-link {
    color: #2283f6;
    background-color: #fff;
    border-radius: 0;
    font-size: 14px;
    border-bottom: 1px #ddd solid;
    padding: 1em;
  }

  .sidebar a.nav-link:hover, .sidebar a.nav-link.active {
    background-color: #7182FF;
    color: #fff;
  }

  .sidebar a.nav-link.email {
    background-color: #0177fd;
    color: #d3ebf8;
    border: 0;
  }

    .sidebar a.nav-link.email span.name {
      font-size: 22px;
      color: #fff;
    }

  .sidebar i {
    margin-right: 8px;
  }
