body {
  background-color: #243757;
  color:#fff;
}

h3 {
  color:#fff;
  font-size:22px;
}

.purple-colour {
  color: #809df9;
}

.container h1 {
  font-size: 28px;
}
/* =============== labels =============== */

.sebpo-tag-position {
  text-align: right;
  padding-bottom: 15px;
}

.sebpo-tag {
  margin-right:10px;
}
