body {
  background-color: #243757;
  color:#fff;
}

.marpad-reset {
  margin: 0;
  padding: 0;
}

h3 {
  color:#fff;
  font-size:22px;
}

.purple-colour {
  color: #809df9;
}

  .seb-btn {
  border: #7182ff;
  color: #fff;

  &:hover {
    background-color: #0177fd;
    border: #93cefd;
  }
}


/* =============== sidebar =============== */

.sidebar {
  background-color: #fff;
  border-right: 1px #273d66 solid;
  height: 100%;
}

  .sidebar a.nav-link {
    color: #2283f6;
    background-color: #fff;
    border-radius: 0;
    font-size: 14px;
    border-bottom: 1px #ddd solid;
    padding: 1em;
  }

  .sidebar a.nav-link:hover, .sidebar a.nav-link.active {
    background-color: #7182FF;
    color: #fff;
  }

  .sidebar a.nav-link.email {
    background-color: #0177fd;
    color: #d3ebf8;
    border: 0;
  }

    .sidebar a.nav-link.email span.name {
      font-size: 22px;
      color: #fff;
    }

  .sidebar i {
    margin-right: 8px;
  }


/* =============== content area =============== */

.content {
  margin-top: 20px;
}

  .content h1 {
    font-size: 28px;
}

/* =============== labels =============== */

.sebpo-tag-position {
  text-align: right;
  padding-bottom: 15px;
}

.sebpo-tag {
  margin-right:10px;
}
