html {
  height: 100%;
}

body {
  height: 100%;
}

body > .ember-view {
  height: 100%;
}

.nav-wrapper {
  height: 100%;
  width: 300px;
  position: fixed;
}

.content-wrapper {
  margin-left: 300px;
}

.flex {
  display: flex;
}

.row {
  padding: 10px;
}
