$side-navigation-logo-background: #223140;
$side-navigation-font-color: $deep-blue;
$side-navigation-background: #f8f8f8;
$side-navigation-border: 1px #273d66 solid;

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

main {
  display: contents;
}

a {
  text-decoration: none;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.managerbot {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.sidebar-wrapper {
  display: contents;
}

.dropdown {
  padding: 4px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(27,31,35,.15);

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    bottom: 100%;
    border-bottom-color: #FFFFFF;
  }
}

.main-header {
  > div, nav {
    a {
      color: inherit;
    }
    display: flex;
    align-items: center
  }

  .center-navigation {
    flex-grow: 2;

    > ul {
      display: flex;

      > li {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  padding: 0 10px;
  height: 50px;
  color: $white;
  //padding: 13px;
  //background: linear-gradient(to right ,#1c9ee3  ,#3bc6eb);
  background-color: $side-navigation-logo-background;
  display: flex;
}

.route-header {
  padding: 16px;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.logo-container {
  padding: 17px;
  line-height: 0;
  background-color: $side-navigation-logo-background;
  grid-area: logo;
}

.sidebar-container {
  width: 300px;
}

.logo {
  width: 134px;
}

.side-navigation {
  grid-area: sidebar;
  overflow-y: auto;
  background-color: $side-navigation-background;
  border-right: $side-navigation-border;
}

.route-outlet {
  overflow-y: auto;
  grid-area: route-outlet;
  padding: 0 40px;
  margin-top: 10px;
}

.authentication-outlet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authentication-container {
  .logo-container {
    display: flex;
    grid-area: inherit;
    flex-direction: column;
    align-items: center;
  }

  width: 300px;
}

.row {
  padding: 10px;
}
