.filter-tab {
  background: $filter-builder-tab-background-color;
  color: $filter-builder-tab-font-color;
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
  font-size: 12px;
  cursor: pointer;
}

.filter-tab__active {
  background: $filter-builder-tab-selected-background-color;
  color: $filter-builder-tab-selected-font-color;
}

.filter-builder {
  color: $filter-builder-font-color;
  background: $filter-builder-background-color;
  border-top: 2px solid $filter-builder-tab-selected-background-color;
  margin-bottom: 20px;
  padding: 15px;
}

.table-filters-title-bar {
  display: flex;
  padding: 10px;
  padding-left: 0;
}

.table-filters__buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  & * {
    margin-left: 15px;
  }
}

.table-filters__message {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.table-filter_filter-row {
  display: flex;
  margin-top: 10px;
}

.table-filter_filter-row--left {
  justify-content: flex-end;
  flex: 0 0 25%;
}

.table-filter_filter-row--right {
  justify-content: flex-start;
  flex: 0 0 75%;
}
