.ember-light-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  color: $table-font-color;
  border-radius: 3px;
  border-bottom: 1px $table-header-background-color solid;
  background-color: $table-background-color;

  .multi-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  .lt-head  .lt-column,
  .lt-foot  .lt-column {
    &.is-dragging {
      opacity: .75;
      background: #eee;
    }

    &.is-drag-target {
      &.drag-right {
        border-right: 1px dotted $table-border-color;
      }

      &.drag-left {
        border-left: 1px dotted $table-border-color;
      }
    }
  }

  .lt-column {
    font-weight: 200;
    font-size: 12px;
    padding: 10px;

    .lt-sort-icon {
      width: 15px;
    }

    &.lt-group-column {
      border: 0;
      padding-bottom: 10px;
    }

    .lt-column-resizer {
      border-right: 1px dashed #ccc;
      border-left: 1px dashed #ccc;
    }
  }

  .lt-row {
    padding-top: 5px;
    padding-bottom: 5px;

    &.is-selected {
      background-color: #172743;
    }

    &:last-of-type {
      td {
        border-bottom-width: 0;
      }
    }

    &.lt-expanded-row, &.lt-no-data {
      &:hover {
        background-color: transparent;
      }

      td {
        padding: 15px;
      }
    }

    td {
      font-size: 13px;
      padding: 10px;
      border: 1px $table-header-border-color solid;
    }
  }
}

tfoot {
  tr > td {
    padding: 10px 10px 0;
    font-size: 13px;
  }

  form {
    display: flex;
    justify-content: space-between;
  }
}


.ember-table {
  width: 100%;
  border-radius: 3px;

  .table-link {
    color: $table-font-color;
    text-decoration: underline;
  }

  table {
    box-sizing: border-box;
  }

  tbody {
    margin: 0 auto;
    border-collapse: collapse;
    color: $table-font-color;
    border-radius: 3px;
    border: 1px $table-header-background-color solid;
    border-top: 0;
    background-color: $table-background-color;
  }

  td {
    padding: 10px;
  }

  th {
    border: 1px $table-header-border-color solid;
    background-color: $table-header-background-color;
    color: $table-header-font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 12px;
    padding: 10px;
  }

  .et-sort-indicator::before {
    font-family: Univers-Next,'Helvetica Neue',Helvetica,Arial,sans-serif;
    display: inline-block;
    border: 0;
    line-height: 1;
    transform: rotate(0);
    content: '\25be';
  }

  .is-ascending.et-sort-indicator::before {
    transform: rotate(180deg);
  }
}
