$brand-primary: #7182FF;
$tag-padding-y: 0.45em;
$tag-padding-x: 0.85em;
$tag-color: #222;
$font-family-sans-serif  : 'Montserrat', sans-serif;
$navbar-light-active-color:#fff;
$navbar-light-hover-color:#fff;
$navbar-light-color:#2283f6;
