//bootstrap
$brand-primary: #7182FF;
$tag-padding-y: 0.45em;
$tag-padding-x: 0.85em;
$tag-color: #222;
$font-family-sans-serif  : 'Montserrat', sans-serif;
$navbar-light-active-color:#fff;
$navbar-light-hover-color:#fff;
$navbar-light-color:#2283f6;
$body-color: #fff;
$body-bg: #243757;
//custom
$table-border-color: #dadada;
$table-font-color: #cfe1ff;
$table-header-background-color: #445e89;
$table-header-font-color: #99fde3;
$table-header-border-color: #5c77a5;


$gray-light:                #818a91 !default;
$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
// Tags

$tag-default-bg:            $gray-light !default;
$tag-primary-bg:            $brand-primary !default;
$tag-success-bg:            $brand-success !default;
$tag-info-bg:               $brand-info !default;
$tag-warning-bg:            $brand-warning !default;
$tag-danger-bg:             $brand-danger !default;

$tag-color:                 #fff !default;
$tag-link-hover-color:      #fff !default;
$tag-font-size:             75% !default;
$tag-font-weight:           bold !default;
$tag-padding-x:             .4em !default;
$tag-padding-y:             .25em !default;

$tag-pill-padding-x:        .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$tag-pill-border-radius:    10rem !default;
