<div class="sebpo-tag-position">
  <span class="purple-colour">
    Total:
  </span>
  {{sortedPullRequests.length}}
</div>
{{filters/filter-header repo=repo labels=labels activeFilter=activeFilter filters=filters selectedFilter=(action 'selectedFilter')}}
{{#light-table table as |t|}}
  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'}}

  {{#t.body as |body|}}

    {{#if isLoading}}
      {{#body.loader}}
        Loading...
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
        No pull requests found.
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
