.power-button {
  text-transform: uppercase;
  color: $power-button-color;
  font-size: 12px;
  font-weight: 700;
  background: none;
  border: none;
  border-bottom: 2px solid;
  border-color: $power-button-color;
  margin-right:2px;
  cursor: pointer;
  padding: 0;
  
  &:hover {
    border-color: $power-button-hover-color;
    color:  $power-button-hover-color;
  }
}
