$side-navigation-active-font-color: $deep-blue;
$side-navigation-active-background: #e2e4e6;

$side-navigation-hover-font-color: $side-navigation-active-font-color;
$side-navigation-hover-background: $side-navigation-active-background;
$side-navigation-link-border: 1px #ddd solid;

@mixin navigation-font {
  color: $side-navigation-font-color;
  text-decoration: none;
  font-size: 14px;
}

.sidebar-link {
  @include navigation-font;
  display: block;
  border-bottom: $side-navigation-link-border;
  padding: 1em;

  &:hover {
    background-color: $side-navigation-active-background;
    color: $side-navigation-active-font-color
  }

  &.active {
    background-color: $side-navigation-active-background;
    color: $side-navigation-active-font-color
  }
}
