<div class="row">
  <div class="col-3">
    Apply label:
  </div>
  <div class="col-9">
    {{#power-select options=labels renderInPlace=true selected=selected onchange=(action "setChangeLabel") as |label|}}
      {{label.name}}
    {{/power-select}}
  </div>
</div>
