$white: #fff;
$black: #000;

$grey-2: #849bb5;
$grey-1: #eeeef1;
$cream-grey: #273d66;
$funky-cream: #f8f8f8;

$deep-blue: #2c3e50;
$switzerland-blue: #1872a2;
$teal: #199be2;
$mauritius-blue: #3bc6eb;
$light-blue: #80e2ed;
$washed-blue: #f3fdfc;
