//custom
$body-background: $white;
$body-font-color: $black;

//table
$table-border-color: $white;
$table-font-color: $deep-blue;
$table-header-background-color: #80e2ed;
$table-header-font-color: #1872a2;
$table-header-border-color: #3bc6eb;
$table-background-color: #f3fdfc;

$filter-builder-font-color: $black;
$filter-builder-background-color: #eeeef1;
$filter-builder-tab-background-color: #eeeef1;
$filter-builder-tab-font-color: #849bb5;

$filter-builder-tab-selected-font-color: $white;
$filter-builder-tab-selected-background-color: #3bc6eb;

$filter-builder-hover-font-color: $filter-builder-tab-selected-font-color;
$filter-builder-hover-background-color: $filter-builder-tab-selected-background-color;

$power-button-color: #849bb5;
$power-button-hover-color: #199be2;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;


// //bootstrap
// $brand-primary: #7182ff;
$tag-padding-y: .45em;
$tag-padding-x: .85em;
// $tag-color: #222;
// $font-family-sans-serif: 'Montserrat', sans-serif;
// $body-color: $body-font-color;
// $body-bg: $body-background;
