
<div class="input-group">
  <div class="input-group-addon">
    Add Member
  </div>
  {{input value=newMember classNames="form-control"}}
  <div class="input-group-btn">
    {{power-button action="addMember" }}
  </div>
</div>

{{#light-table table as |t|}}

  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'}}

  {{#t.body as |body|}}

    {{#if isLoading}}
      {{#body.loader}}
        Loading...
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
        No members found
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}

{{/light-table}}
