<h2> State Mappings </h2>
{{state-mapper labels=repo.labels save=saveLabels}}
<h2>Hooks</h2>
<button type="button" class="btn btn-primary" {{action 'resolveHook' repo}}>
  {{#unless resolveHook.isIdle}} Processing {{/unless}}
  {{#unless repo.hook_id}}
    Install Hook
  {{else}}
    Uninstall Hook
  {{/unless}}
</button>
{{outlet}}
